body,
html{
  margin: 0 0 0 0;
  height: 100%;
}

#profile{
  width: 410px;
  height: 520px;

}
#title {
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 1px;
  font-size: 35px;
  font-weight:100;
  margin-top:30px;
  margin-left: 30px;

}

#major{
 font-family: 'News Cycle', sans-serif;
 font-size: 15px;
 font-weight: 100;
 margin-left: 30px;
 letter-spacing: 1px;
 margin-top: 0px;


}
#school{
  font-family: 'News Cycle', sans-serif;
  font-weight: 100;
  font-size: 14px;
  margin-left: 30px;

}


#container {
  display: flex;
  height: 100%;
}

#icon-container{
  display: flex;
  margin-left: 30px;
  flex-direction: row;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 10px;


}

.icon {
  width:40px;
  height: 40px;
  margin-right: 35px;

}
#left-container{
  display: flex;
  align-items: center;
  min-width: 500px;
  justify-content: center;
  width: 50%;

  background-color: #f0a5b2;

}

#right-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 50%;


  background-color: #46b1dd;
  min-width: 400px;
  border-left: solid 1px #5dbcd2;
}

.bio {
  font-family: 'News Cycle', sans-serif;
  font-size: 14px;
  font-weight: 100;
  margin-top: 8px;
  margin-left: 30px;
  margin-bottom: 15px;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {


  #container {
    flex-direction: column;
    padding: 0 0 0 0;

  }

  #profile {
    margin-right: 330px;

  }

  #left-container {
    visibility: hidden;
    width: 0%;
    height: 0%;
  }

  #right-container {
    width: 100%;
    padding: 0 0 0 0;
    height:100%;
  }

  #title {
    margin-top: 20px;
    font-size: 60px;
    margin-left: 100px;
  }

  .bio,
  #icon-container,
  #school,
  #major {
    margin-left: 100px;
  }

  #icon-container{
    margin-bottom: 35px;
  }

  .bio {
    font-size: 23px;
    width: 70%;

  }
}
