body,
html{
  margin: 0 0 0 0;
  height: 100%;
}

#profile{
  width: 410px;
  height: 520px;
  border: 3px solid #808000;
  border-radius: 70%;

}


.art {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  margin-top: 4px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  width: 145px;
  height: 32px;
  font-family: 'Playfair Display SC', serif;';
}


#title {
  font-family: 'Questrial', sans-serif;
  letter-spacing: 4px;
  font-size: 45px;
  font-weight:50;
  margin-top:30px;
  margin-left: 30px;

}

#major{
 font-family: 'Roboto Slab', serif;
 font-size: 15px;
 font-weight: 100;
 margin-left: 30px;
 margin-top: 0px;


}
#school{
  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  font-size: 14px;
  margin-left: 30px;

}


#container {
  display: flex;
  height: 100%;
}

#icon-container{
  display: flex;
  margin-left: 30px;
  flex-direction: row;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 10px;

}

.icon {
  width:40px;
  height: 40px;
  margin-right: 35px;

}
#left-container{
  display: flex;
  align-items: center;
  min-width: 500px;
  justify-content: center;
  width: 50%;
}

#right-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  color: white;
  width: 70%;
  background-color: #808000;
  min-width: 400px;
  border-left: solid 45px white;
}

.bio {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 100;
  margin-top: 8px;
  margin-left: 30px;
  margin-bottom: 15px;

}


/* DESIGN PORTFOLIO CSS */

.banner {

  width: 100%;
  height: 200px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BFC0C0;
}

.banner_text {

  font-family: 'Questrial', sans-serif;
  font-size: 40px;
  color: #BFC0C0;
  margin-left: 144px;

}

.portfolio-container {

  display: flex;
  width: 100%;
  height: 150px;
  padding: 30px;
  flex-direction: row;
  justify-content: center;
  align-content: center;

}

.portfolio {

  height: 300px;
  width: 300px;
  background-color: #D6EDFF;
  margin: 30px 30px 30px 30px;
  display:flex;
  justify-content: center;
  align-items: center;

}

.portfolio-description {

  display:flex;
  font-family: 'Questrial', sans-serif;
  justify-content: center;
  flex-direction: column;
  color: #86626E;

}

.portfolio-text {
  opacity: 0;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.portfolio:hover {

  background-color: #86626E;
  transition: all 0.3s ease;

}

.portfolio:hover .portfolio-text {
    opacity: 1;
    display:flex;
    font-family: 'Questrial', sans-serif;
    color: #D6EDFF;
    font-size: 12px;

}

.portfolio:hover .portfolio-description {
    opacity: 0;
}


.portfolio-title {
  margin-bottom: 40px;
  margin-left: 20px;
  font-size: 25px;
  font-weight: bold;

}

.portfolio-line {

  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
  font-size: 14px;

}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {


  #container {
    flex-direction: column;
    padding: 0 0 0 0;

  }

  #profile {
    margin-right: 330px;

  }

  #left-container {
    visibility: hidden;
    width: 0%;
    height: 0%;
  }

  #right-container {
    width: 100%;
    padding: 0 0 0 0;
    height:100%;
  }

  #title {
    margin-top: 20px;
    font-size: 60px;
    margin-left: 100px;
  }

  .bio,
  #icon-container,
  #school,
  #major {
    margin-left: 100px;
  }

  #icon-container{
    margin-bottom: 35px;
  }

  .bio {
    font-size: 23px;
    width: 70%;

  }
}
